icomoon-font-path ?= "fonts"

icon-email = "\e945"
icon-download2 = "\e9c5"
icon-star-full = "\e9d9"
icon-facebook = "\ea90"
icon-twitter = "\ea96"
icon-game-list = "\e90d"
icon-search = "\e907"
icon-close = "\e906"
icon-arrow-box-down = "\e905"
icon-arrow-down-light = "\e904"
icon-arrow-right = "\e903"
icon-arrow-right-light = "\e908"
icon-medium = "\e900"
icon-telegram = "\e901"
icon-itam = "\e902"
icon-arrow-right-thick = "\e90b"
icon-arrow-left-thick = "\e90c"
icon-play-up = "\e909"
icon-play-down = "\e90a"

