.home {
  padding: 90px 0 40px;

  .game-list, .record-list {
    cursor: pointer;
  }

  .search-helper {
    top: 60px;
  }


  .intro {
    padding: 0 15px;
    text-align: center;

    h1 {
      padding-bottom: 20px;
      font-size: 40px;
      font-weight: normal;
      text-align: center;
    }

    p {
      padding-bottom: 40px;
      white-space: pre-line;
    }
  }

  .event {
    margin: 0 auto;

    &-con {
      min-width: 1440px;
      display: block;
      margin: 0 auto;
    }

    li {
      height: 406px;
    }

    &-left {
      position: relative;
      text-align: right;
      background: url(./assets/images/event/home-reserve-left-bg.png) no-repeat right bottom;

      &:before {
        content: '';
        position: absolute;
        bottom: 0; left: 0; right: 860px;
        height: 268px;
        background:  #7553c8;
      }

      .photo {
        display: inline-block;
        width: 585px;
        margin-right: 100px;
        img { width:  100% }
      }

      .text {
        position: absolute;
        top: 220px;
        right: 50px;
        width: 191px;
        .msg {
          padding-bottom: 7px;
          img { width:  100% }
        }

        .go {
          padding-right: 10px;
          text-align: right;
          img { height: 28px }
        }

      }
    }

    &-right {
      position: relative;
      text-align: left;
      background: url(./assets/images/event/home-reserve-right-bg.png) no-repeat left bottom 22px;

      &:before {
        content: '';
        position: absolute;
        bottom: 22px; right: 0; left: 860px;
        height: 268px;
        background: #551E79;
      }

      .photo {
        position: relative;
        top: -55px;
        width: 622px;
        img { width:  100% }
      }

      .text {
        position: absolute;
        top: 210px;
        left: 50px;
        width: 144px;

        .msg {
          padding-bottom: 7px;
          img { width:  100% }
        }

        .go {
          padding-right: 10px;
          text-align: right;
          img { height: 28px }
        }
      }
    }
  }

  .search-box {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 538px;
    padding: 9px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    &__input {
      display: inline-block;
      width: calc(100% - 80px);
      height: 42px;
      line-height: 40px;
      vertical-align: middle;
      font-size: 18px;
      color: $base-font-color;

      @include placeholder(14px, #ccc);
    }
    .js-search {
      display: inline-block;

      width: 80px;
      height: 42px;
      border-radius: 2px;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #fff;
      background-color: #472185;
      vertical-align: middle;
    }
  }

  .flex-box > .col-1-2 {
    background: #fff;
  }

  .briefing {
    padding-top: 60px;

    h4 {
      height: 60px;
      padding-top: 25px;
      font-size: 16px;
      font-weight: bold;
      color: $base-font-color;
      background: #f6f2fa;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      vertical-align: top;

      th, td {
        border-bottom: 2px solid #f6f2fa;
        text-align: center;
        vertical-align: middle;
      }

      tr:last-child th,
      tr:last-child td {
        border-bottom-width: 0;
      }

      th {

        text-align: center;
        img {
          width: 40px;
          border: 1px solid #dbdfe6;
        }
      }

      td {
        min-width: 70px;
        height: 80px;
        font-size: 12px;

        h6 {
          font-size: 11px;
          font-weight: 300;
          color: #999;
        }

        h5, .block-num {
          font-size: 12px;
          font-weight: bold;
          line-height: 1.25;
        }

        .block-time {
          font-size: 10px;
          color: #999;
        }

        &.align-left {
          text-align: left;
        }
      }

    }
  }

  &.pagenotfound {
    padding-top: 114px;
    padding-bottom: 239px;
    background: $body-bg;

    h3 {
      padding-bottom: 33px;
      font-size: 18px;
      font-weight: bold;
      color: #230f3b;
    }

    p {
      padding-bottom: 66px;
      font-size: 14px;
    }

    .games-list {
      position: relative;
      width: $body-width - 38;
      padding: 102px 15px;
      margin: 0 auto;

      &__list {
        position: relative;
        width: $body-width - 68;
        padding: 30px 0;
        background: #fff;

        .js-game-link {
          display: block;
          text-align: center;
          .photo {
            width: 51px;
            height: 51px;
            margin: 0 auto;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .tit {
            width: 100px;
            margin: 0 auto;
            padding-top: 6px;
            font-size: 12px;
            text-align: center;
            color: #230f3b;

            @include ellipsis();
          }
        }
      }

      .js-slide-move {
        position: absolute;
        top: 34px;
        width: 34px;
        height: 55px;
        color: #a79fb0;
        background-color: #e8e8e8;

        &:active {
          color: #000;
        }

        &.js-slide-prev {
          left: -34px;
        }

        &.js-slide-next {
          right: -34px;
        }
      }
    }
  }
}

.modal .notsearch-msg {
  width: 400px;
  height: 210px;
  text-align: center;

  h3 {
    padding: 40px 0;
    font-size: 16px;
    font-weight: bold;
  }

  p {
    white-space: pre-line;
    font-size: 14px;
    color: #4d4d4d;
  }
}

.modal .sendmail-msg {
  max-width: 400px;

  text-align: center;
  padding: 20px;

  h3 {
    padding: 15px 0 12px;
    font-size: 16px;
    font-weight: bold;
    color: #230f3b;
  }

  p {
    padding-bottom: 30px;
    white-space: pre-line;
    font-size: 14px;
    color: #4d4d4d;
  }

  .js-success {
    width: 98px;
    height: 46px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #230f3b;
  }
}

.msg-modal .modal {
  width: 330px;
  border-radius: 14px;
  background-color: #ffffff;

  .sendmail-msg {
    width: 100%;

    h3 {
      padding-bottom: 0;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      color: #4d4d4d;
    }

    p {
      display: table-cell;
      width: 330px;
      height: 90px;
      padding: 0;
      font-size: 12px;
      text-align: center;
      color: #999;
      vertical-align: middle;

      &.number {
        font-size: 24px;
        font-weight: bold;
        color: #394ff5;
      }
    }

    .js-success {
      width: 130px;
      height: 36px;
      border-radius: 4px;
      font-size: 12px;
      font-weight: bold;
      color: #ffffff;
      background-color: #230f3b;
    }
  }
}

