$header-height: 90px;
$footer-height: 128px;
$body-width: 1080px;

//== screen breakpoint
$grid-breakpoint: 768px;

//== z-index
$header-index: 4;

//== mixin Variables
$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';

//== Typography
//
//** size : bootstrap font size
$body-bg: #f2f2f2;
$font-size-base:          14px !default;
$font-size-base-mb:       13px !default;

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h3-small: 20px;
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h4-small: 16px;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-light: 300;
$font-normal: 300;
$font-bold: 400;
$font-exbold: 700;

//** color
$base-font-color: #220f3b;
$purple: #6035bd;
$blue: #00abe3;
$yellow: #ffc400;

$gray-darken: #4d4d4d;
$gray-worm: #999;
$gray: #ccc;
$gray-border: #e6e6e6;
$gray-light: #f7f7f7;

//== space
$gap-space: 24px;
$gap-space-mb: 12px;
$mb-header-height: 58px;

//== transition
$transition-speed: .3s;


